body {

    footer {
        article {

            .social {
                &__icons {
                    img {
                        max-width: 100%;
                    }
                }

                &__apps {
                    img {
                        width: 150px;
                        height: 40px;

                    }
                }
            }

        }
    }
}