/*-------------------- Variables -----------------*/

$fontgeneral: "Roboto Condensed", Arial, Helvetica, sans-serif;

/*---------------------Mixins del Navbar ---------------------- */

@mixin navbar {
    background-color: #dfdfdf;

    text-transform: uppercase;
}

@mixin flex-align-items ($alignitems) {
    display: flex;
    align-items: $alignitems;
}

@mixin flex-justify-content ($justifycontent) {
    display: flex;
    justify-content: $justifycontent;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

/* ---------------------------- Mixins del subnavbar ---------------- */

@mixin sub-navbar__links {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

@mixin ul-style {
    width: 100%;
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 16px;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-evenly;
    text-transform: uppercase;
    align-items: center;
    flex-flow: row wrap;
    font-size: clamp(.5rem, .8rem, 1rem);
}

@mixin li-a {
    margin: 0px 5px;
    text-decoration: none;
    font-weight: 600;
    color: #323B95;
}

/* ---------------------------- Mixins del main ---------------- */

@mixin title-menu {
    margin: 5px 12px;
    padding: 0px 12px;
    text-transform: uppercase;
}

@mixin menu-card {
    margin: 0px;
    margin-bottom: 10px;
}

@mixin card-title {
    color: #323B95;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin button-card {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    color: #C70000;
}

/* ---------------------------- Mixins del footer ---------------- */

@mixin flex-flex-direction ($fdirection) {
    display: flex;
    flex-direction: $fdirection;
}

@mixin links-ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: clamp(.7rem, 1vw, 2rem);
    margin: 0px;
    gap: 20px;
    padding: 20px 15px;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin links-a {
    text-decoration: none;
    padding: 5px 10px;
    box-sizing: border-box;
    text-wrap: nowrap;
    color: #000000;
    font-weight: 500;
}

@mixin social {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 36px;
}

@mixin social-apps-container ($jc, $ac) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-content: $ac;
    margin: 18px;
    padding: 5px;
    box-sizing: border-box;
    gap: 12px;
}

@mixin legal-p {
    text-wrap: wrap;
    font-weight: 400;
    font-size: clamp(.7rem, 1vw, 2rem);
    text-align: justify;
}


/*----------------------- Funciones ----------------------- */

/*------------------------ Convertir Px a Rem --------------*/


@function pxTorem ($valuepx, $unit) {
    $result: calc($valuepx / 16);
    @return $result +$unit;
}