/*-------------------- Variables -----------------*/
/*---------------------Mixins del Navbar ---------------------- */
/* ---------------------------- Mixins del subnavbar ---------------- */
/* ---------------------------- Mixins del main ---------------- */
/* ---------------------------- Mixins del footer ---------------- */
/*----------------------- Funciones ----------------------- */
/*------------------------ Convertir Px a Rem --------------*/
body main .banner .button-buy {
  display: flex;
  justify-content: center;
}
body main .banner .button-buy .btn {
  text-transform: uppercase;
  font-size: 0.9rem;
}
body footer article .social__icons img {
  max-width: 100%;
}
body footer article .social__apps img {
  width: 150px;
  height: 40px;
}

body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}
body header .navbar {
  background-color: #dfdfdf;
  text-transform: uppercase;
}
body header .navbar .navbar-collapse {
  justify-content: space-around;
}
body header .navbar-nav .login {
  display: flex;
  align-items: center;
}
body header .navbar-nav .login img {
  width: 1.75rem;
  height: 1.75rem;
}
body header .navbar-nav .cart {
  display: flex;
  align-items: center;
}
body header .navbar-nav .cart img {
  width: 1.75rem;
  height: 1.75rem;
}
body header .sub-navbar {
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
}
body header .sub-navbar__links {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
body header .sub-navbar__links ul {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 16px;
  margin-left: 0px;
  padding-left: 0px;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-items: center;
  flex-flow: row wrap;
  font-size: 0.8rem;
}
body header .sub-navbar__links ul li {
  margin: 5px 10px;
}
body header .sub-navbar__links ul li a {
  margin: 0px 5px;
  text-decoration: none;
  font-weight: 600;
}
body main .carousel-container__promos {
  display: flex;
  justify-content: center;
}
body main .carousel-container__promos .carousel {
  width: 800px;
}
body main .menu-container .title-menu {
  margin: 5px 12px;
  padding: 0px 12px;
  text-transform: uppercase;
}
body main .menu-container .title-menu h2 {
  font-size: 2rem;
}
body main .menu-container__cards {
  margin: 0px;
  margin-bottom: 10px;
}
body main .menu-container__cards .col .card {
  height: 100%;
}
body main .menu-container__cards .col .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .menu-container__cards .col .card-body h5 {
  color: #323B95;
  font-weight: 500;
  text-transform: uppercase;
}
body main .menu-container__cards .col .card-body div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
body main .menu-container__cards .col .card-body div .btn {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  color: #C70000;
}
body footer {
  background-color: #7DDEF8;
}
body footer article {
  display: flex;
  flex-direction: column;
}
body footer article .info {
  margin-bottom: 37px;
}
body footer article .info__links ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: clamp(0.7rem, 1vw, 2rem);
  margin: 0px;
  gap: 20px;
  padding: 20px 15px;
  flex-wrap: wrap;
  justify-content: center;
}
body footer article .info__links ul li {
  border-right: 1px solid #000000;
}
body footer article .info__links ul li a {
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;
  text-wrap: nowrap;
  color: #000000;
  font-weight: 500;
}
body footer article .social {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 36px;
}
body footer article .social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 18px;
  padding: 5px;
  box-sizing: border-box;
  gap: 12px;
}
body footer article .social__apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 18px;
  padding: 5px;
  box-sizing: border-box;
  gap: 12px;
}
body footer article .legal p {
  text-wrap: wrap;
  font-weight: 400;
  font-size: clamp(0.7rem, 1vw, 2rem);
  text-align: justify;
}/*# sourceMappingURL=menu.css.map */